div{
  width: 150px;
    height: 150px;
    background-color: rgb(71, 68, 235);
     margin: 20px;
     text-align: center;
}
.red{ 
  background-color: red;
    right:50%;
    bottom: 50%;
    vertical-align: middle;
    transform: translate (50%,50%);
    border-radius: 50%;
  }
.blue{ 
  right:50%;
    bottom: 50%;
    vertical-align: middle;
    transform: translate (70%,70%);
    border-radius: 50%;
    background-color: blue;}
.orange{ background-color: orange;}
.yellow{ background-color: yellow;}